__pycache__/
*.pyc
out/
build/
# makepkg leftovers
/fubuki/src/
/fubuki/pkg/
/fubuki-qt/src/
/fubuki-qt/pkg/
/fubuki-gtk/src/
/fubuki-gtk/pkg/
*.pkg.tar.zst
dist/
/packaging/appimage/AppDir/
/packaging/appimage/appimage-build/
*.AppImage
/tests/usb/out2/
/.flatpak-builder/
